@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    @if (_isLoad)
    {
        <CascadingValue Value="@Providers">
            <div id="created" class="container-xxl mt-4">
                <OrderCreated/>                 
            </div>
            <div id="filter" class="container-xxl mt-4">
                <FilterOrder />
            </div>
        </CascadingValue>
    }
</div>


