<EditForm EditContext="_editContext" OnValidSubmit="@AddItemChangesAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="input-group">
        <span class="input-group-text">Name:</span>
        <InputText class="form-control" placeholder="Name" @bind-Value="_orderItem.Name" />
        @if (!_isCheckName)
        {
            <div class="input-group-text">
                Введите другое занчение: @_orderItem.Name
            </div>
        }
    </div>
    <div class="input-group">
        <span class="input-group-text">Quantity:</span>
        <InputNumber class="form-control" placeholder="Quantity" @bind-Value="_orderItem.Quantity" />
    </div>
    <div class="input-group">
        <span class="input-group-text">Unit:</span>
        <InputText class="form-control" placeholder="Unit" @bind-Value="_orderItem.Unit" />
    </div>
    <div class="row">
        <div class="col-2">
            <button type="submit"> Добавить Заказ </button>
        </div>
    </div>
</EditForm>

